DOMAIN: Startup ecosystem

CONTEXT: Company X is a EU online publisher focusing on the startups industry. The company specifically reports on the business related to technology news, analysis of emerging trends and profiling of new tech businesses and products. Their event i.e. Startup Battlefield is the worldâ€™s pre-eminent startup competition. Startup Battlefield features 15-30 top early stage startups pitching top judges in front of a vast live
audience, present in person and online

PROJECT OBJECTIVE: Analyse the data of the various companies from the given dataset and perform the tasks that are specified in the below steps. Draw insights from the various attributes that are present in the dataset, plot distributions, state hypotheses and draw conclusions from the dataset

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea"> 1.1 Loading the libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea"> 1.2 import the dataset

In [6]:
CompanyX  = pd.read_csv("E:\\GL\\DS - Part3 - CompanyX_EU.csv")

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.3 check the data head()

In [7]:
CompanyX.head()

,Startup,Product,Funding,Event,Result,OperatingState
0,2600Hz,2600hz.com,NaN,Disrupt SF 2013,Contestant,Operating
1,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed
2,3DPrinterOS,3dprinteros.com,NaN,Disrupt SF 2016,Contestant,Operating
3,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating
4,42 Technologies,42technologies.com,NaN,Disrupt NYC 2013,Contestant,Operating

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.4 Check the data.describe()

In [8]:
CompanyX.describe()

,Startup,Product,Funding,Event,Result,OperatingState
count,662,656,448,662,662,662
unique,662,656,240,26,5,4
top,Shakr Media,getaround.com,$1M,TC50 2008,Contestant,Operating
freq,1,1,17,52,488,465

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea"> 1.5 Check the columns

In [9]:
CompanyX.columns

Index(['Startup', 'Product', 'Funding', 'Event', 'Result', 'OperatingState'], dtype='object')

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.6 Checking the shape of data

In [10]:
CompanyX.shape

(662, 6)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.7 Count the datatypes

In [11]:
CompanyX.dtypes.value_counts()

object    6
dtype: int64

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.8 Check the data set information

In [12]:
CompanyX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 6 columns):
Startup           662 non-null object
Product           656 non-null object
Funding           448 non-null object
Event             662 non-null object
Result            662 non-null object
OperatingState    662 non-null object
dtypes: object(6)
memory usage: 31.1+ KB

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#0e92ea">1.9  Checking the dataset missing values

In [14]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False)   # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)  # percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])  # putting the above two together
    return missing_data # return the dataframe
missing_check(CompanyX)

                Total   Percent
Funding           214  0.323263
Product             6  0.009063
OperatingState      0  0.000000
Result              0  0.000000
Event               0  0.000000
Startup             0  0.000000

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">  Missing Values

In [18]:
CompanyX.isnull().sum()

Startup             0
Product             6
Funding           214
Event               0
Result              0
OperatingState      0
dtype: int64

### Any missing values?

In [19]:
CompanyX.isnull().values.any()

True

### Total number of missing values

In [20]:
CompanyX.isnull().sum().sum()

220

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">  Replacing Missing Values

In [21]:
CompanyX['Funding'].fillna(12345, inplace = True)
CompanyX['Product'].fillna(12345, inplace = True)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">   Droping Rows with Missing Values

In [22]:
CompanyX.dropna(inplace=True)  
CompanyX.isnull().sum()

Startup           0
Product           0
Funding           0
Event             0
Result            0
OperatingState    0
dtype: int64

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">   Convert the â€˜Fundingâ€™ features to a numerical value

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Converting string labels into numbers.
CompanyX['Funding_1']=le.fit_transform(CompanyX.Funding)